<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <h2>Add review about dealer {{dealer_id}}</h2>
        <form action="{% url 'djangoapp:review_dealer' dealer_id %}" method="post">
            {% csrf_token %}
            <b>Your name:</b><br>
            <input type="text" name="name" id="name"><br>
            <b>Review content:</b><br>
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            <input type="checkbox" name="purchasecheck" id="purchasecheck">
            Has purchased car from dealer {{dealer_id}} ?
            </input><br/>
            Select car model
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
            </select> <br/>
            Select purchase date:
            <input type="text" name="purchasedate" id="purchasedate"/><br/>
            <button class="btn btn-primary" type="submit">Submit</button>
        
        </form>
    </body>
</html>